*.acn
*.acr
*.alg
*.aux
*.bcf
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.synctex.gz
*.swp
*.toc
*.vrb
*.xdy
*.tdo
.DS_Store
**/auto/*.el
